<!DOCTYPE html>
<html>
  <head>
    <title>Subscribe to recipe content</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <header>
        <p>
            Logged in as {{ request.user.email }}
        </p>
    </header>
    <section>

<!--        Show product details-->
      <div class="product">
        <div class="description">
          <h3>Subscription Plans</h3>
          <ul>
            {% for plan in plans %}
              <li>
                {{plan.name}} - {{plan.Price}}
                <form action=""{ url 'checkout' plan.id %}" method = "post">
                  {% csrf_token %}
                  <button type="submit">Subscribe</button>
                </form>
              </li>
          {% endfor %}
        </ul>
        </div>
      </div>
 </body>
</html>

<style>
    .product {
        display: flex;
        justify-content: center;
        padding: 20px 10px;
        border: 1px dashed lightgreen;
    }
    .checkout-form {
        display: flex;
        justify-content: center;
        padding: 20px 10px;
    }

</style>
